<div id="cotact-us" class="contcatbg">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <h4>Contact Us</h4>
                <div class="d-flex flex-column">
                    <input type="text" class="bgborder" placeholder="Name">
                    <input type="text" class="bgborder" placeholder="E-Mail">
                    <input type="text" class="bgborder" placeholder="Set Number">
                    <textarea class="bgborder" placeholder="Message"></textarea>
                    <button type="submit" class="herobutton">SEND</button>
                </div>
            </div>
            <div class="col-md-6">
                <img id="contactimg" src="../assets/contact-img.png" alt="">
            </div>
        </div>
    </div>
</div>