.blogbox {
    padding-block: 7rem;
}
.comment {
    background-color: #063547;
    color: white;
    padding-inline: 3rem;
    padding-block: 2rem;
}
.imgDiv {
    display: flex;
    align-items: center;
    margin-block: 1rem;
}
.customernames {
    margin-left: 15px;
}
.lastmessage {
    margin-inline: 20rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .lastmessage {
        margin-inline: auto;
    }
    .blogbox {
        padding-block: 4rem;
    }
    h3 {
        font-size: 2.3rem;
    }
    .comment {
        padding: 2rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .lastmessage {
        margin-inline: auto;
    }
    .blogbox {
        padding-block: 4rem;
    }
    h3 {
        font-size: 2.3rem;
    }
    .comment {
        padding: 2rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .lastmessage {
        margin-inline: auto;
    }
    .blogbox {
        padding-block: 4rem;
    }
    h3 {
        font-size: 2.3rem;
    }
    .comment {
        padding: 2rem;
    }
}