<div id="ourBlog" class="blogrbg">
    <div class="container"> 
        <h2 class="text-center mb-5">From Our blog</h2>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 blogOne">
                <img src="../assets/b1.jpg" alt="" width="100%">
                <div class="captaion">
                    <div class="blogdate">
                        <span>19 January 2021</span>
                    </div>
                    <div>
                        <h4>Eius, dolor? Vel velit sed doloremque</h4>
                        <p>Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo? Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis cupiditate, ad beatae voluptatem numquam dignissimos ab porro</p>
                        <a href="#" class="text-decoration-none linktext">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../assets/b2.jpg" alt="" width="100%">
                <div class="captaion">
                    <div class="blogdate">
                        <span>19 January 2021</span>
                    </div>
                    <div>
                        <h4>Minus aliquid alias porro iure fuga</h4>
                        <p>Officiis veritatis id illo eligendi repellat facilis animi adipisci praesentium. Tempore ab provident porro illo ex obcaecati deleniti enim sequi voluptas at. Harum veniam eos nisi distinctio! Porro, reiciendis eius.</p>
                        <a href="#" class="text-decoration-none linktext">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>